<html lang="en">

<head>

	<meta charset="UTF-8">
  <% include partials/head %>

</head>

<body>


	<div class="container">
		<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
					aria-controls="pills-home" aria-selected="true">Todos los capítulos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
					aria-controls="pills-profile" aria-selected="false">Capítulo 15</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" id="pills-time-tab" data-toggle="pill" href="#pills-time" role="tab"
					aria-controls="pills-time" aria-selected="false">Capítulo 16</a>
			</li>
		</ul>
		<div class="tab-content" id="pills-tabContent">

			<div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
			
  

 
</div>



			<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"> <video
					controls crossorigin playsinline id="player2">
					<!-- <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">	<video controls crossorigin playsinline poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg" id="player2"> -->
					<!-- <source src="https://objectstorage.us-ashburn-1.oraclecloud.com/n/idpl12s0nqsn/b/Alejandro/o/Turcas%2FLa%20habitaci%C3%B3n%20roja%2Fcap%2013.mp4" type="video/mp4" size="576"> -->
					<source
						src=""
						type="video/mp4" size="720">
					<!-- <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4" type="video/mp4" size="1080"> -->

					<!-- Caption files -->
					<!-- <track kind="captions" label="English" srclang="en" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt" -->
					<!-- default> -->
					<!-- <track kind="captions" label="Français" srclang="fr" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt"> -->
					<!-- Fallback for browsers that don't support the <video> element -->
					<!-- <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a> -->
				</video></div>

			<div class="tab-pane fade show active" id="pills-time" role="tabpanel" aria-labelledby="pills-time-tab">

				<center>
					<figure class="snip1344">
						<img src="img/img.jpg" alt="profile-sample6" class="background">
						<img src="img/img.jpg" alt="profile-sample6" class="profile">
						<figcaption>
							<h3>꧁Μ¡Ṃ!꧂<span></span></h3>
							<div id="odometer" class="odometer odometer-auto-theme">
								<div class="odometer-inside">
									<span class="odometer-digit">
										<span class="odometer-digit-spacer">8</span>
										<span class="odometer-digit-inner">
											<span class="odometer-ribbon">
												<span class="odometer-ribbon-inner">
													<span class="odometer-value">4</span>
												</span>
											</span>
										</span>
									</span>
									<span class="odometer-digit">
										<span class="odometer-digit-spacer">8</span>
										<span class="odometer-digit-inner">
											<span class="odometer-ribbon">
												<span class="odometer-ribbon-inner">
													<span span class="odometer-value">5</span>
												</span>
											</span>
										</span>
									</span>
									<span class="odometer-digit">
										<span class="odometer-digit-spacer">8</span>
										<span class="odometer-digit-inner">
											<span class="odometer-ribbon">
												<span class="odometer-ribbon-inner">
													<span class="odometer-value">6</span>
												</span>
											</span>
										</span>
									</span>
								</div>
							</div>

							
							<!-- <div class="icons">
								<a href="https://t.me/PlayCalidad"> <i class="ion-social-whatsapp-outline"></i></a>
							</div> -->

						</figcaption>

					</figure>
				</center>
				<div class="portada" id="portada">
					<div class="header">
						<h1 class="logotipo"></h1>
						<p class="mensaje"></p>
					</div>
					<p>Tiempo restante para la trasmisión</p>
					<div id="cuenta"></div>
					<p>Tiempo restante para subir el capítulo</p>
					<div id="cuenta1"></div>

					<div class="redes-sociales">
						<a href="https://t.me/lareinadelfl" class="btn-red-social"><i class="fab fa-telegram"></i></a>
						<a href="https://www.youtube.com/channel/UCiFDa4ZY_idD0jglC9w_6SA" class="btn-red-social"><i
								class="fab fa-youtube"></i></a>
						<a href="https://t.me/PlayCalidad" class="btn-red-social"><i class="fab fa-telegram"></i></a>
					</div>
				</div>

				<main class="contenedor">
					<p></p>
				</main>

				<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
				<script src="js/simplyCountdown.min.js"></script>
				<script src="js/countdown.js"></script>
				<script src="js/countdown1.js"></script>
			</div>

		</div>


	</div>



  <% include partials/scripts %>



</body>

</html>